// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$body-background: rgb(255, 255, 255);
$button-background: rgb(255, 82, 191);
$button-background-hover: rgb(255, 160, 220);
$button-border: rgb(255, 82, 191);
$footer-background: rgb(0, 37, 46);
$section-background: rgb(245, 250, 255);
$social-media-icon-background: rgb(245, 250, 255);
$social-media-icon-background-hover: rgb(5, 195, 255);
$word-color-1: rgb(245, 250, 255);
$word-color-2: rgb(255, 82, 191);
$word-color-3: rgb(0, 37, 46);
$word-color-4: rgb(141, 144, 163);
$word-color-5: rgb(255, 66, 66);